In [1]:
import pandas as pd
import numpy as np

In [2]:
dd = pd.read_csv(r"C:\Users\hi\Desktop\Innomatics\Internship 2024 Sample Docs\raw_data_v11_3.csv")

In [3]:
dd.head()

,Date of Birth,What is your current profession?,What is the year of completion of your Highest Education Qualification?,Which of the following best describes you?,Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.,"In case your certification institute is ""Innomatics Research Labs"", please provide your Enrolled Batch Number.",Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.,What do you think are most important skill right now for a skilled Data Scientist?
0,9/16/2000,Fresher (I have completed my Education and loo...,7/30/2023,I am currently enrolled in a Data Science cert...,Innomatics Research Labs,251,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
1,2/6/1998,Fresher (I have completed my Education and loo...,5/18/2022,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw data
2,10/8/2003,Student (I am currently enrolled in some Educa...,4/1/2025,I am currently enrolled in a Data Science cert...,NaN,NaN,6:00 to 7:00 PM IST,Data Modelling
3,11/29/2001,Student (I am currently enrolled in some Educa...,5/15/2024,I have never enrolled in any certification cou...,NaN,NaN,5:00 to 6:00 PM IST,Extracting actionable insights from the raw da...
4,11/25/2004,Student (I am currently enrolled in some Educa...,1/10/2026,I have completed a Data Science certification ...,Velagapudi ramakrishna Siddhartha college,Na,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...

In [4]:
dd = dd.rename(columns = {'Date of Birth':'DOB', 
                          'What is your current profession?': 'Cur_profe',
                          'What is the year of completion of your Highest Education Qualification?':'Year_Qualified',
                          'Which of the following best describes you?':'About_you',
                         'Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.':'Institute',
                         'In case your certification institute is "Innomatics Research Labs", please provide your Enrolled Batch Number.':'Inno_BatchNo',
                         'Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.':'Preferred_time',
                         'What do you think are most important skill right now for a skilled Data Scientist?':'Imp_Skills'})

In [5]:
dd.columns

Index(['DOB', 'Cur_profe', 'Year_Qualified', 'About_you', 'Institute',
       'Inno_BatchNo', 'Preferred_time', 'Imp_Skills'],
      dtype='object')

In [6]:
dd.head()

,DOB,Cur_profe,Year_Qualified,About_you,Institute,Inno_BatchNo,Preferred_time,Imp_Skills
0,9/16/2000,Fresher (I have completed my Education and loo...,7/30/2023,I am currently enrolled in a Data Science cert...,Innomatics Research Labs,251,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
1,2/6/1998,Fresher (I have completed my Education and loo...,5/18/2022,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw data
2,10/8/2003,Student (I am currently enrolled in some Educa...,4/1/2025,I am currently enrolled in a Data Science cert...,NaN,NaN,6:00 to 7:00 PM IST,Data Modelling
3,11/29/2001,Student (I am currently enrolled in some Educa...,5/15/2024,I have never enrolled in any certification cou...,NaN,NaN,5:00 to 6:00 PM IST,Extracting actionable insights from the raw da...
4,11/25/2004,Student (I am currently enrolled in some Educa...,1/10/2026,I have completed a Data Science certification ...,Velagapudi ramakrishna Siddhartha college,Na,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...

In [7]:
for i in dd.columns:
    print(f'{i}:{dd[i].unique()}')

DOB:['9/16/2000' '2/6/1998' '10/8/2003' '11/29/2001' '11/25/2004' '7/16/2001'
 '4/4/2000' '4/13/2003' '10/30/2003' '4/6/1997' '6/25/2002' '11/1/2001'
 '6/22/2002' '7/10/2000' '1/11/2004' '9/17/1999' '10/14/2001' '12/16/2000'
 '8/17/2002' '5/4/2000' '7/18/2003' '12/13/2001' '12/15/1993' '6/2/2003'
 '8/10/2003' '11/4/2002' '12/1/1994' '9/16/2002' '1/5/1993' '4/9/2000'
 '1/18/2002' '3/2/2004' '7/31/2001' '11/3/2001' '4/6/2003' '4/20/2000'
 '12/1/2002' '10/13/2000' '7/1/2001' '5/1/1999' '6/15/1999' '7/5/2003'
 '3/9/2001' '9/3/1999' '5/9/2003' '6/10/1998' '4/18/2004' '9/6/1995'
 '4/1/2001' '8/27/1999' '6/17/1999' '11/24/2001' '11/24/1997' '2/13/1991'
 '11/27/2002' '1/4/2002' '6/29/2000' '3/5/2001' '10/15/2001' '6/15/2003'
 '5/23/2003' '6/28/2002' '7/18/1989' '9/27/2000' '8/2/2002' '6/30/2000'
 '7/23/2001' '12/22/2001' '12/10/2003' '11/23/2002' '6/2/2002' '5/10/2001'
 '6/28/2000' '10/23/2000' '8/30/2002' '6/13/2002' '6/9/2003' '10/20/2003'
 '3/3/1998' '11/9/2003' '4/10/2004' '6/13/1993' '9/2/2002' '7/13/1999'
 '10/8/2001' '10/23/2004' '1/18/2000' '5/7/1999' '12/13/1999' '11/7/1999'
 '7/10/2001' '5/14/2004' '3/15/2002' '1/15/2001' '11/21/2001' '7/24/2001'
 '9/24/2002' '5/20/2003' '8/9/2003' '9/23/2000' '5/5/2003' '7/13/2001'
 '5/1/1993' '8/20/2001' '9/20/2000' '7/14/2000' '6/30/2003' '7/17/2002'
 '7/10/2003' '4/27/2002' '1/7/2002' '10/19/2024' '12/30/2000' '5/14/2003'
 '5/9/2002' '11/11/2001' '5/2/2003' '3/22/1999' '1/20/2000' '9/16/2003'
 '11/28/2000' '5/3/2002' '3/21/2002' '6/2/2001' '10/13/2001' '9/8/2002'
 '9/26/2003' '11/26/2001' '9/9/2001' '7/29/2001' '7/14/2001' '6/12/1998'
 '5/8/2002' '2/7/2000' '12/14/2003' '10/6/2002' '5/28/2001' '3/29/1991'
 '7/17/2000' '4/23/2001' '5/22/2003' '11/19/2000' '9/28/1996' '9/29/2002'
 '12/4/2003' '5/31/2003' '11/23/2003' '5/12/2001' '1/13/2003' '7/21/1998'
 '10/2/2001' '9/17/2001' '2/15/2001' '5/15/2000' '5/23/1995' '9/16/2001'
 '6/16/2001' '5/10/2003' '12/28/2001' '3/10/2004' '7/14/1999' '2/13/2004'
 '12/18/2003' '2/4/2003' '10/10/2003' '10/30/2002' '8/2/2004' '11/30/2002'
 '1/20/2002' '1/1/2004' '4/26/2005' '1/26/2001' '10/7/2002' '9/26/2001'
 '7/1/1999' '5/4/2001' '11/24/2002' '5/10/1998' '2/10/1996' '11/28/2005'
 '11/5/2001' '3/31/1997' '7/20/2004' '12/13/2003' '1/1/1999' '7/19/2003'
 '7/29/2003' '2/1/2002' '10/4/1998' '8/15/2002' '1/27/2002' '6/30/2004'
 '4/5/1999' '11/27/1994' '7/25/1992' '10/11/2002' '8/19/2003' '10/17/1997'
 '5/29/2000' '12/29/2004' '12/22/1999' '10/16/1997' '8/6/1992' '8/30/1992'
 '10/4/2000' '6/25/2001' '5/19/1999' '2/28/1998' '8/10/2001' '9/11/2003'
 '8/16/2002' '9/29/2001' '6/1/2002' '3/22/2004' '10/24/2002' '9/7/1994'
 '6/16/2002' '2/1/1999' '9/28/2002' '5/20/2001' '3/28/2002' '5/3/2001'
 '5/5/2005' '8/14/1996' '12/1/2000' '8/4/2003' '6/23/2001' '8/12/2001'
 '3/15/1997' '7/19/2005' '8/9/2004' '9/7/2002' '2/3/2000' '10/26/2002'
 '6/5/1996' '3/5/1996' '4/29/2002' '6/17/2002' '1/1/2000' '1/10/2004'
 '12/30/2001' '8/19/2002' '12/2/1996' '2/11/2003' '1/11/2002' '11/5/2002'
 '9/1/2002' '12/21/1994' '4/10/2003' '4/2/2004' '6/13/2003' '5/20/1995'
 '2/4/2001' '12/3/2002' '11/13/2002' '10/5/2001' '5/23/2001' '4/22/2002'
 '1/30/1995' '9/26/2002' '2/22/2003' '5/17/2001' '11/1/1988' '7/4/2000'
 '8/6/1989' '6/20/2003' '4/10/1999' '7/21/2003' '10/4/2002' '5/8/1998'
 '5/24/2001' '6/18/2003' '9/22/1999' '6/6/1997' '8/30/1999' '5/5/2000'
 '7/29/2000' '10/22/1999' '12/5/1989' '2/1/2003' '10/23/2003' '5/8/2003'
 '12/27/1997' '1/21/1998' '11/26/2000' '12/21/2000' '4/26/1993'
 '1/17/2001' '12/30/1998' '3/7/1999' '8/17/2001' '4/19/1999' '1/16/2024'
 '8/17/2004' '5/6/1992' '12/5/1997' '5/15/2004' '9/26/2004' '11/17/1999'
 '11/26/2003' '4/5/2002' '1/21/2004' '3/10/2005' '10/5/2003' '10/23/2001'
 '2/27/2001' '4/9/2002' '6/18/2004' '5/19/2004' '7/26/2000' '7/26/2003'
 '1/10/2003' '10/9/2001' '6/12/2000' '5/16/2001' '5/30/2003' '4/8/2003'
 '7/16/2003' '3/26/2003' '10/28/1996' '8/24/2002' '3/15/2006' '11/19/2001'
 '4/18/1999' '6/30/2001' '9/19/2001' '5/26/2003' '3/18/1998' '10/6/2001'
 '10/24/2001' '8/1/2002' '12/23/2000' '8/6/2003' '6/18/2001' '7/2/2004'
 '6/20/2001' '3/4/2000' '5/31/2004' '10/26/2001' '10/9/2004' '1/2/2004'
 '3/13/2004' '8/4/2002' '9/23/1999' '7/1/1994' '8/5/2003' '7/19/2004'
 '4/21/1999' '4/3/2002' '10/20/2000' '4/8/2001' '9/28/2001' '2/4/1998'
 '1/8/1998' '6/25/2003' '3/4/2003' '3/4/1997' '5/6/1991' '9/19/2002'
 '5/29/1997' '3/18/2001' '12/27/1999' '11/19/2002' '10/17/2003' '5/9/2005'
 '4/29/1999' '3/6/2001' '5/15/1995' '10/17/2002' '11/29/2002' '2/6/1994'
 '3/4/1995' '5/28/2003' '7/23/1995' '5/3/2004' '7/5/2004' '1/10/2001'
 '10/22/1996' '7/21/1990' '12/9/2001' '2/4/1999' '1/4/2001' '1/2/2003'
 '2/26/2000' '3/4/1998' '8/15/2004' '1/10/2002' '7/21/1999' '5/6/1999'
 '11/21/2003' '7/9/2003' '4/26/1996' '4/21/2002' '10/3/2002' '4/27/2003'
 '4/30/1999' '8/23/2001' '6/27/2002' '7/12/2002' '6/17/2001' '7/8/2002'
 '9/11/2001' '10/6/2000' '2/5/2004' '1/23/2003' '2/5/2002' '4/28/2004'
 '7/15/2002' '8/22/2003' '11/28/2002' '2/26/2003' '11/28/2001' '8/9/2001'
 '4/25/1995' '4/1/2004' '7/14/2002' '3/10/2002' '4/16/2005' '8/15/2001'
 '5/18/1998' '5/7/2003' '8/17/2003' '2/3/2001' '1/10/1997' '8/28/2002'
 '6/19/2000' '9/2/2001' '5/28/1999' '11/21/2002' '12/2/2002' '10/10/2002'
 '4/15/2001' '12/2/2001' '7/27/1999' '10/27/2003' '4/18/1996' '3/25/2000'
 '7/31/1998' '9/30/2001' '9/30/2002' '2/2/2000' '12/15/2001' '5/22/2000'
 '5/31/2001' '7/28/2002' '10/5/2002' '6/29/2004' '3/8/2001' '8/1/1998'
 '10/21/2000' '3/18/2002' '5/1/2000' '10/28/2002' '7/7/2001' '2/25/2000'
 '4/10/2001' '9/14/1992' '7/4/2002' '10/31/2000' '8/8/2001' '11/27/1995'
 '12/29/2001' '4/18/2003' '5/26/2002' '9/26/1999' '5/10/2000' '9/3/2001'
 '9/25/2004' '8/14/2002' '2/20/1997' '7/1/1997' '7/15/1997' '6/17/1997'
 '11/1/2000' '4/5/2000' '5/27/2000' '7/9/2001' '5/17/2003' '6/19/2002'
 '9/30/2004' '11/20/2000' '4/28/1996' '1/22/2002' '5/13/2024' '1/16/2001'
 '4/18/2000' '12/9/2000' '7/22/2002' '2/6/2000' '9/5/2003' '6/6/2002'
 '2/6/2003' '12/7/2000' '2/28/2003' '7/23/2000' '8/10/2000' '3/21/2001'
 '3/27/2002' '2/8/2003' '11/19/1999' '8/6/2001' '11/2/2002' '1/27/2003'
 '2/19/2002' '10/30/2001' '11/1/2002' '9/15/2002' '8/18/1994' '12/2/2000'
 '8/18/2003' '4/30/2002' '6/2/2004' '10/7/2003' '7/2/2000' '7/4/1996'
 '4/16/2002' '11/30/1999' '10/31/2002' '1/31/2004' '6/6/1995' '4/28/2003'
 '10/11/2000' '7/6/1999' '4/16/1997' '3/6/1990' '7/30/2003' '8/20/2004'
 '3/8/2002' '7/23/1990' '10/7/1997' '10/18/2001' '12/23/1986' '9/6/2001'
 '8/4/2004' '9/2/2000' '8/15/2000' '8/29/1999' '2/15/2000' '6/6/1980'
 '8/5/2002' '10/15/1999' '8/23/2002' '3/21/1999' '12/7/1999' '1/22/2004'
 '3/14/2000' '5/10/2002' '6/22/2000' '6/7/2002' '6/6/1998' '3/25/2003'
 '3/17/2003' '8/12/1991' '1/25/2002' '12/25/2000' '3/1/2001' '6/5/2002'
 '2/21/2003' '3/26/1999' '8/8/2000' '5/21/2001' '4/1/1991' '4/4/2004'
 '4/3/1999' '8/18/1998' '5/2/2001' '5/7/2002' '7/26/2002' '2/27/2003'
 '9/26/2000' '3/10/1996' '2/18/2001' '4/27/1999' '4/3/2000' '9/24/2001'
 '4/27/1991' '10/20/2001' '6/17/2000' '3/15/2004' '7/24/2002' '4/14/2002'
 '9/28/2003' '4/3/2001' '6/1/1995' '11/14/1996' '4/8/2002' '10/8/1997'
 '2/11/2002' '6/2/2000' '8/19/2004' '12/6/2001' '7/3/2003' '4/6/2001'
 '5/20/1997' '12/29/1999' '11/30/2001' '2/21/2002' '4/7/2002' '5/25/2001'
 '1/22/1994' '3/11/2002' '8/19/1999' '4/6/1989' '10/19/2001' '11/15/1988'
 '8/14/2001' '4/17/1994' '8/21/2002' '3/3/2003' '6/5/1999' '5/12/2002'
 '1/19/2002' '11/15/2003' '10/30/1998' '4/4/2001' '10/18/2002'
 '10/21/2002' '5/3/2003' '1/3/2000' '7/15/2000' '12/11/2002' '6/20/1988'
 '11/13/2000' '4/29/2004' '7/25/1988' '8/11/2004' '1/22/2003' '12/29/1989'
 '2/10/1999' '7/29/2002' '1/1/2002' '12/25/2002' '2/10/2002' '7/26/1997'
 '10/16/1995' '3/5/2004' '7/2/2002' '8/31/2004' '8/14/2003' '4/19/2005'
 '2/15/2002' '7/28/1999' '9/30/2000' '2/7/2001' '1/3/2001' '12/19/2000'
 '11/4/1994' '3/4/2001' '6/8/2000' '6/7/1997' '2/25/2003' '7/11/2000'
 '5/15/1999' '6/7/2003' '5/13/1989' '7/21/2002' '8/22/2005' '9/2/2004'
 '4/30/1994' '12/20/2003' '12/21/1996' '1/9/2004' '1/15/2002' '11/8/2001'
 '11/6/2003' '5/22/1995' '1/20/2003' '9/18/1999' '5/8/2000' '1/15/2000'
 '4/3/2003' '4/19/2002' '3/6/2003' '1/12/2003' '9/19/1997' '9/18/2000'
 '12/25/2001' '6/9/2001' '12/21/1999' '10/25/2000' '5/9/2001' '4/30/2001'
 '7/2/1998' '7/12/2000' '8/15/1995' '1/7/2003' '9/23/1998' '12/19/1996'
 '4/14/2001' '10/11/2003' '2/2/1995' '12/3/2000' '8/2/2001' '8/9/2000'
 '10/17/2004' '1/2/2001' '10/20/2002' '10/8/2004' '5/17/2002' '9/24/2003'
 '12/12/1998' '10/16/2002' '10/7/2001' '12/9/2002' '7/31/1991' '5/23/2002'
 '6/24/2002' '12/19/2004' '5/20/2004' '9/12/2000' '7/23/2007' '11/13/1999'
 '8/28/2000' '9/4/1999' '5/1/2001' '8/27/2002' '5/25/1998' '3/22/2001'
 '2/28/2006' '10/27/2002' '6/18/2002' '12/8/1995' '7/30/2004' '2/19/2000'
 '5/14/1989' '10/21/2003' '1/29/2004' '12/17/2004' '10/23/1999'
 '4/17/2001' '6/16/2000' '11/17/2001' '11/30/2004' '5/28/2002'
 '10/29/1991' '8/21/2003' '6/11/2002' '2/24/2003' '12/28/1999' '2/2/2005'
 '6/1/2000' '8/28/2003' '6/5/2003' '2/17/2004' '2/13/1998' '6/4/2001'
 '8/4/2000' '7/13/2000' '7/27/2002' '6/27/2001' '8/27/2003' '6/23/2002'
 '2/8/1999' '9/5/2004' '3/15/2000' '11/16/1998' '4/19/1997' '11/7/1998'
 '9/12/1995' '8/2/2003' '5/26/2000' '6/10/2004' '3/21/2004' '4/4/2002'
 '12/12/2001' '8/5/2001' '3/12/2001' '9/1/1997' '6/2/1999' '1/26/2000'
 '3/26/2002' '7/28/1995' '2/14/1998' '2/27/2004' '12/12/1999' '1/13/1997'
 '11/15/1991' '6/10/1996' '2/25/2001' '8/25/2000' '2/27/1998' '2/14/2002'
 '6/14/2002' '6/15/2001' '4/28/2000' '7/12/1999' '2/8/2001' '3/14/2004'
 '12/24/2001' '9/2/2003' '8/24/2004' '6/30/1998' '5/26/1998' '10/8/1999'
 '12/17/2003' '12/31/1992' '3/13/2003' '11/10/1989' '8/20/2002'
 '8/31/2001' '12/29/1998' '3/10/1990' '5/22/2001' '4/5/1995' '12/13/2002'
 '10/26/2003' '5/16/2002' '12/14/1999' '3/28/1998' '12/11/2001'
 '7/19/2002' '11/24/2004' '6/20/2002' '8/31/2003' '7/9/1999' '12/16/2001'
 '6/18/2000' '1/30/2003' '3/28/2003' '7/18/2002' '6/26/2003' '6/10/1995'
 '8/28/1998' '4/22/2004' '6/3/2003' '7/24/2003']
Cur_profe:['Fresher (I have completed my Education and looking for a job now)'
 'Student (I am currently enrolled in some Educational Program)'
 'Freelancer (I have completed my Education and working part time or owns a business)'
 'Working Professional (I have completed my Education and working full time)']
Year_Qualified:['7/30/2023' '5/18/2022' '4/1/2025' '5/15/2024' '1/10/2026' '6/13/2022'
 '8/8/2022' '7/1/2024' '4/30/2025' '5/30/2018' '5/9/2024' '6/5/2023'
 '4/22/2023' '8/10/2022' '6/26/2025' '8/30/2023' '6/16/2023' '7/20/2022'
 '7/15/2023' '11/28/2023' '6/25/2025' '8/15/2024' '12/20/2018' '7/31/2025'
 '4/30/2024' '6/15/2024' '7/15/2019' '5/1/2025' '6/10/2015' '4/12/2020'
 '5/1/2023' '6/1/2025' '4/1/2024' '5/10/2024' '4/24/2022' '2/22/2024'
 '5/20/2020' '7/26/2022' '9/13/2022' '12/22/2022' '4/27/2024' '6/18/2021'
 '5/13/2025' '12/29/2020' '7/7/2023' '7/15/2022' '1/1/2023' '8/20/2022'
 '7/1/2021' '6/10/2024' '1/11/2023' '7/20/2023' '2/25/2024' '7/31/2024'
 '10/11/2010' '4/16/2022' '4/24/2024' '2/1/2024' '6/10/2025' '10/8/2021'
 '4/16/2025' '6/30/2025' '10/11/2023' '6/30/2024' '4/28/2023' '6/22/2023'
 '5/1/2024' '6/20/2024' '5/15/2025' '3/31/2024' '5/20/2024' '8/28/2023'
 '10/10/2018' '6/10/2023' '3/1/2026' '12/30/2021' '3/31/2022' '5/12/2022'
 '6/29/2022' '5/1/2026' '8/17/2023' '9/15/2021' '4/10/2024' '8/1/2024'
 '12/12/2017' '5/31/2024' '7/21/2021' '12/31/2021' '3/20/2025' '5/11/2023'
 '5/7/2024' '8/7/2023' '4/30/2023' '7/10/2023' '4/4/2024' '6/15/2023'
 '8/11/2022' '9/4/2020' '8/23/2021' '6/16/2025' '11/20/2024' '1/10/2024'
 '5/22/2023' '5/25/2022' '5/30/2023' '6/1/2023' '12/20/2024' '10/26/2024'
 '8/15/2022' '7/12/2021' '4/15/2025' '10/31/2024' '1/9/2025' '5/5/2023'
 '7/21/2022' '6/20/2023' '5/22/2003' '1/16/2023' '5/31/2018' '5/8/2024'
 '6/20/2025' '5/31/2025' '4/19/2023' '6/1/2024' '7/1/2025' '3/14/2016'
 '6/25/2024' '8/11/2023' '6/3/2023' '1/10/2025' '8/1/2022' '5/10/2025'
 '4/4/2025' '8/31/2025' '5/5/2024' '5/5/2025' '1/9/2021' '4/2/2026'
 '1/26/2001' '6/8/2024' '1/9/2024' '3/10/2022' '3/16/2024' '4/20/2026'
 '1/9/2023' '7/18/2019' '4/11/2025' '4/20/2024' '7/17/2019' '7/31/2023'
 '5/15/2021' '5/31/2016' '7/26/2018' '3/15/2024' '5/4/2024' '9/30/2021'
 '5/29/2026' '5/20/2026' '12/22/1999' '10/20/2021' '6/30/2023' '2/20/2016'
 '5/14/2015' '8/26/2023' '1/16/2025' '8/15/2021' '7/8/2022' '8/1/2025'
 '1/10/2022' '5/30/2024' '7/17/2024' '7/3/2025' '7/20/2020' '6/30/2022'
 '6/21/2023' '4/20/2023' '7/8/2026' '6/21/2019' '4/7/2023' '8/15/2023'
 '8/1/2023' '3/15/2023' '11/22/2022' '3/30/2027' '2/19/2025' '5/20/2023'
 '9/13/2023' '9/16/2023' '6/5/1996' '8/5/2017' '5/3/2024' '1/14/2024'
 '5/15/2018' '6/11/2025' '7/1/2023' '8/24/2023' '6/5/2015' '11/30/2023'
 '7/20/2024' '6/1/2016' '4/13/2024' '8/25/2022' '5/1/2020' '6/2/2013'
 '3/20/2019' '11/10/2014' '11/25/2022' '8/20/2025' '4/17/2023' '9/28/2025'
 '2/21/2021' '5/30/2025' '8/22/2022' '5/1/2021' '11/28/2022' '6/25/2022'
 '10/27/2022' '6/11/2018' '4/23/2025' '7/31/2021' '11/24/2023' '5/20/2019'
 '5/27/2023' '5/15/2023' '9/15/2019' '7/29/2021' '6/23/2023' '8/2/2023'
 '6/15/2016' '5/14/2025' '9/1/2016' '12/10/2020' '11/29/2025' '4/1/2022'
 '5/31/2023' '6/27/2025' '1/10/2027' '8/22/2025' '6/8/2022' '7/26/2003'
 '8/17/2022' '1/18/2024' '3/20/2024' '3/1/2027' '8/25/2021' '8/30/2022'
 '7/15/2024' '11/21/2020' '7/11/2023' '6/16/2024' '4/12/2024' '6/17/2025'
 '6/26/2021' '6/22/2025' '12/8/2023' '9/1/2019' '6/1/2026' '6/21/2025'
 '5/2/2024' '4/23/2023' '4/1/2018' '2/29/2024' '6/20/2019' '6/13/2023'
 '1/11/2024' '10/10/2022' '8/30/2018' '6/7/2024' '8/10/2017' '12/20/2023'
 '5/17/2024' '9/30/2017' '4/17/2025' '7/1/2026' '6/18/2019' '8/1/2016'
 '4/10/2023' '3/25/2022' '11/4/2022' '12/30/2022' '6/12/2025' '6/14/2024'
 '12/6/2023' '10/31/2025' '5/31/2017' '7/29/2023' '1/11/2020' '8/18/2023'
 '5/13/2023' '10/24/2025' '10/1/2023' '1/10/2023' '5/16/2024' '4/15/2024'
 '6/9/2024' '7/12/2023' '4/30/2019' '8/31/2023' '7/30/2025' '7/25/2026'
 '9/5/2018' '5/10/2023' '8/10/2023' '11/20/2023' '4/14/2020' '4/8/2025'
 '8/14/2021' '3/1/2024' '5/6/2023' '6/30/2026' '2/1/2021' '8/12/2022'
 '7/18/2023' '10/30/2026' '12/24/2022' '7/24/2023' '8/31/2024' '9/17/2022'
 '10/30/2023' '5/18/2024' '6/7/2023' '9/22/2021' '8/19/2021' '9/1/2022'
 '10/20/2023' '5/20/2015' '6/28/2022' '6/15/2022' '4/28/2024' '1/10/2021'
 '10/25/2000' '4/14/2025' '6/30/2019' '7/10/2019' '4/30/2018' '4/16/2019'
 '6/5/2022' '5/27/2024' '5/25/2024' '4/25/2026' '4/13/2027' '7/11/2019'
 '3/18/2025' '11/22/2023' '12/9/2022' '6/12/2023' '6/15/0025' '5/1/2022'
 '5/6/2025' '7/25/2024' '12/23/2023' '4/7/2022' '9/9/2024' '5/25/2023'
 '11/16/2027' '6/1/2021' '4/25/2024' '7/18/2024' '12/13/2017' '5/25/2025'
 '4/9/2025' '7/11/2020' '12/19/2021' '5/9/2018' '4/15/2023' '3/1/2025'
 '9/27/2024' '1/11/2022' '6/9/2011' '4/1/2023' '7/1/2013' '5/27/2022'
 '1/31/2011' '7/10/2024' '3/12/2025' '10/13/2022' '5/31/2020' '4/15/2004'
 '3/30/2023' '6/12/2024' '6/6/2023' '10/23/2020' '7/19/2021' '4/28/2026'
 '8/5/2023' '9/7/2021' '4/30/2013' '9/9/2023' '6/1/2022' '7/30/2024'
 '7/12/2022' '8/23/2022' '7/16/2023' '5/20/2018' '12/1/2021' '7/15/2025'
 '9/11/2020' '4/18/2022' '8/5/2022' '7/16/2017' '5/14/2024' '6/10/2022'
 '8/16/2014' '8/30/2024' '6/25/2023' '4/20/2000' '12/20/2022' '7/16/2025'
 '3/1/2019' '4/26/2023' '6/15/2021' '7/31/2026' '7/30/2020' '9/8/2023'
 '9/2/2023' '5/10/2017' '12/21/2020' '6/1/2012' '6/6/2022' '3/2/2013'
 '8/6/2023' '8/26/2022' '7/8/2023' '4/12/2023' '6/15/2025' '10/29/2020'
 '4/5/2022' '6/26/2023' '5/9/2023' '2/20/2023' '10/22/2022' '10/4/2013'
 '8/31/2022' '9/1/2025' '8/20/2015' '7/11/2026' '5/16/2011' '10/23/2025'
 '3/13/2023' '5/2/2022' '11/7/2023' '7/19/2023' '4/21/2020' '1/16/2024'
 '4/20/2022' '5/15/2026' '5/29/2025' '8/3/2021' '6/17/2022' '5/29/2022'
 '6/4/2017' '4/30/2022' '11/1/2020' '5/5/2022' '6/1/2009' '4/20/2025'
 '5/12/2016' '1/11/2025' '3/5/2025' '7/16/2021' '4/5/2024' '3/5/2019'
 '11/16/2019' '9/10/2023' '6/26/2024' '9/8/2021' '7/28/2023' '9/12/2023'
 '5/11/2024' '3/31/2019' '9/1/2023' '11/2/2023' '8/5/2025' '9/15/2020'
 '6/9/2025' '1/3/2025' '8/20/2023' '6/24/2024' '5/15/2022' '6/18/2026'
 '9/18/2025' '12/15/2023' '12/26/2025' '1/20/2024' '11/15/2023' '7/9/2022'
 '5/10/2022' '8/15/2027' '5/5/2016' '2/5/2024' '9/30/2023' '9/20/2027'
 '6/16/2022' '11/11/2024' '8/26/2014' '1/9/2026' '6/13/2024' '11/29/2021'
 '5/30/2027' '7/4/2022' '4/2/2025' '6/28/2023' '2/10/2025' '5/16/2023'
 '6/26/2022' '9/27/2025' '9/28/2022' '9/28/2021' '5/31/2021' '1/5/2024'
 '7/14/2021' '5/17/2017' '6/20/2022' '5/5/2026' '12/1/2023' '3/3/2024'
 '10/8/2022' '10/19/2022' '2/11/2023' '11/1/2026' '10/17/2020' '4/1/2021'
 '3/14/2023' '1/3/2001' '7/7/2024' '8/10/2021' '6/13/2013' '5/15/2019'
 '10/15/2022' '9/30/2024' '2/28/2023' '7/20/2025' '8/18/2022' '5/24/2024'
 '9/16/2021' '8/25/2023' '6/9/2022' '10/28/2020' '4/29/2024' '11/6/2023'
 '8/31/2019' '7/28/2012' '7/14/2023' '5/1/2011' '8/16/2025' '6/19/2023'
 '7/4/2023' '12/12/2023' '1/5/2026' '1/1/2024' '5/2/2016' '11/15/2022'
 '7/23/2026']
About_you:['I am currently enrolled in a Data Science certification course'
 'I have never enrolled in any certification courses'
 'I have completed a Data Science certification course']
Institute:['Innomatics Research Labs' nan
 'Velagapudi ramakrishna Siddhartha college '
 'In NPTEL as well as Coursera IBM Data Science Course I am currently enrolled in.'
 'Innomatics research labs ' 'Coach-Ed'
 'Internship at Innomatics Research Labs'
 'Symbiosis skills and professional University'
 'AISSMS Institute of Information Technology' 'Swayam NPTEL course '
 'Innomatics Research Labs ' 'Innomatics Research Labs"'
 'Innomatices research labs' 'InnomaticsResearchLabs ' 'Udemy'
 'INNOMATICS RESEARCH LABS' 'Innomatics research labs' 'Scaler Academy '
 'Sri Manakula Vinayagar Engineering College' 'Innomatics Resarch Labs '
 'Innomatics' 'innomatics research labs' 'ExcelR Solutions'
 'Innomatics Research Lab ' 'Na' 'Acmegrade' 'excelR solutions '
 'Mysore University' 'Coursera' 'Top Mentor' 'Skill for all cisco'
 'Innomatics Research labs' 'UDEMY' 'Vikramasimhapuri University'
 'Simplilearn' 'University of Kerala' 'Udemy ' 'COURSERA' 'Coursera '
 'Sreenidhi institute of science and technology '
 'SQUAD Infotech Pvt. Ltd.' 'FunctionUp' 'No'
 'Andhra Pradesh State Skill Development Corporation (APSSDC)'
 'Innomatics Research Labs , JNTU Hyderabad ' 'Chandigarh University '
 'COCSIT ' 'Inomatics research labs ' 'NA ' 'Excelr' 'Yhills'
 "AWS MACHINE LEARNING FOUNDATIONS, deeplearning.ai and stanford's machine learning specialization on coursera"
 'Pantech solutions, Twilearn ' 'ALMABETTER' 'Innomatics Reasearch Labs'
 'Innomatics Research Labs Hyderabad' 'Internshala Trainings' 'ETlhive '
 'Data Einstein ' ' Coursera, Geeks For Geeks , Udemy.'
 'NPTEL Online course for completed the Data science and engineers certification.'
 'Scaler' 'Simplilearn and Codebasics' 'Innomatics Research labs '
 'TechnoHacks EduTech Private limited ' 'Internshala' 'IIT madras'
 'Offline coaching centre ' 'AlmaBetter '
 'Google Data Analytics Certification, IBM Data Science Certification'
 'Institute of aeronautical engineering'
 'Tamilnadu Skill Development of Corporation' 'Pantech University'
 'almabetter,British Airways Data science virtual internship'
 'innomatics Research labs, Hyderabad'
 'Innomatics Research Labs, Hyderabad ' 'Innomatics Research lab'
 'CodeBasics Online Platform ' 'skill for all Cisco'
 'Excelr solutions Pune' 'Digipodium ' '365 Careers'
 'Cisco networking academy ' 'Innometics Research Labs'
 'Indian Institute of Technology Madras' '1stop'
 "Innomatics Research Lab's" 'Freecodecamp' 'INNOVATIVE RESEARCH LAB'
 'Bharat Intern' 'Innomatics research lab' 'Stanford University'
 'coursera ' 'HDLC Technologies ' 'Bharati Vidyapeeth University '
 'Innomatics research Labs' 'Jobaaj Learnings'
 'Lovely Professional University '
 'Kaggle Online Course , Coursera Online Course,IBM Course'
 'Kristu jayanti college ' 'Innomatics ' 'ITvedant Education Institute'

## Treating Missing Values

In [8]:
dd.isna().sum()

DOB                 0
Cur_profe           0
Year_Qualified      0
About_you           0
Institute         322
Inno_BatchNo      662
Preferred_time      0
Imp_Skills          0
dtype: int64

In [9]:
dd['Institute'].fillna('Unknown',inplace = True)

In [10]:
dd['Inno_BatchNo'].fillna("Not Innomatic's Student", inplace = True)

In [11]:
dd.isna().sum()

DOB               0
Cur_profe         0
Year_Qualified    0
About_you         0
Institute         0
Inno_BatchNo      0
Preferred_time    0
Imp_Skills        0
dtype: int64

## Typecasting

In [12]:
dd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DOB             1000 non-null   object
 1   Cur_profe       1000 non-null   object
 2   Year_Qualified  1000 non-null   object
 3   About_you       1000 non-null   object
 4   Institute       1000 non-null   object
 5   Inno_BatchNo    1000 non-null   object
 6   Preferred_time  1000 non-null   object
 7   Imp_Skills      1000 non-null   object
dtypes: object(8)
memory usage: 62.6+ KB

In [13]:
dd["DOB"] = pd.to_datetime(dd["DOB"])

## Data Manipulation

#### 1) What is the current profession of most interns?

In [15]:
dd['Cur_profe'].mode()[0]

'Student (I am currently enrolled in some Educational Program)'

#### 2) What are the preferred LIVE session timings?

In [16]:
dd['Preferred_time'].mode()[0]

'6:00 to 7:00 PM IST'

#### 3) How many interns are enrolled or have completed their data science professional courses?

In [19]:
len(dd[dd['About_you'] != 'I have never enrolled in any certification courses'])

698

#### 4) For interns who never enrolled in a data science certification course, what is the current profession of the majority of them?

In [20]:
dd[dd['About_you'] == 'I have never enrolled in any certification courses']['Cur_profe'].mode()[0]

'Student (I am currently enrolled in some Educational Program)'

#### 5) Which skill is the third most important for a data scientist?

In [21]:
imp_skill = []
for i in dd['Imp_Skills']:
    for j in i.split(sep = ','):
        imp_skill.append(j.strip())

In [22]:
key = []
value =[]
for i in set(imp_skill):
    key.append(i)
    value.append(imp_skill.count(i))
i_s = dict(zip(key, value))

In [57]:
pd.Series(i_s).sort_values(ascending = False)

Extracting actionable insights from the raw data          869
Data Modelling                                            825
MLOps                                                     596
LLMs                                                      533
Basics of backend application development using python    522
Prompt Engineering                                        425
dtype: int64

#### 6) How many interns selected Prompt Engineering as the most important skill?

In [24]:
imp_skill.count('Prompt Engineering')

425

#### 7) What is the minimum age of an intern at Innomatics Research Labs?

In [25]:
dd['Age'] = (pd.to_datetime('today').year - dd['DOB'].dt.year)

In [26]:
dd['Age'].min()

0

#### 8) How many interns were born on a Sunday?

In [27]:
sum(dd['DOB'].dt.day_name() == "Sunday")

125

#### 9) In which month do the majority of interns are born?

In [28]:
dd['DOB'].dt.month_name().mode()[0]

'July'

#### 10) What is the median age of a working professional?

In [29]:
dd[dd['Cur_profe'] == 'Working Professional (I have completed my Education and working full time)']['Age'].median()

27.0

#### 11) What is the maximum age of a freelancer?

In [30]:
dd[dd['Cur_profe'] == 'Freelancer (I have completed my Education and working part time or owns a business)']['Age'].max()

44

#### 12) How many interns didnt mention the name of the data science institute from where they completed or are currently pursuing the courses?

In [35]:
sum(dd['Institute']=='Unknown')

322

#### 13) How many interns mentioned Innomatics as their data science institute?

In [38]:
dd['Institute'] = dd['Institute'].str.lower()

In [47]:
inst = []
inst_name = ['innomatics','innomatices','innomatis','innometics','innovative','inomatics' ,'informatics', 'innomatic' ]
for i in dd['Institute']:
    for j in inst_name:
        if j in i:
            inst.append(i)

In [55]:
len(inst)

568